{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<br>
<h4>This site connects the UVA community by allowing drivers to post rides and riders to join them.</h4>
<br>
<h4>It was built by Uttam, Anna, Edward, Quincy, and Arty, with the help of the references below. It was built using the Django framework with Bootstrap4 and runs on Heroku.</h4>
<br>
<h4>References</h4>
<li>django-allauth</li>
<li>social-auth-app-django</li>
<li>Pillow</li>
<li>django-money</li>
<li>django-phone-field</li>
<li>django-storages</li>
<li>boto3</li>
<li>django-mapbox-location-field</li>
<li>django-location-field</li>
<li>geopy</li>
<li>django-twilio</li>
<li>django-filter</li>
<li>django-widget-tweaks</li>
<li>django-starfield</li>

{% endblock content %}
